@model List<ShowManufacturerViewModel>

@{
    ViewData["Title"] = "Brands";
}

<div class="text-center">
    <h3>All Brands</h3>
</div>

<a class="nav-link text-dark text-center" asp-area="" asp-controller="Manifacturer" asp-action="AddBrand">New Brand</a>

<div class="text-center row">

    @foreach (var car in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body, bg-primary text-white">
                <p class="mb-0">Manufacturer: @car.Name</p>
                <p class="mb-0">Country: @car.Country</p>
            </div>
            <p></p>
            <div class="text-center">
                <a asp-controller="Manifacturer" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-danger">Edit</a>
            </div>
        </div>
    }
</div>