@model SearchCarByFuelTypeModel

@{
    ViewData["Title"] = "Search for car/s by Fuel Type";
}


<div class="text-center">
    <h3>Search for car/s by Fuel Type</h3>
</div>


<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="" method="post">
            <h3>Search your car.</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <p></p>
                <p></p>
                <label asp-for="@Model.EngineTypeId" class="form-label">Select Fuel</label>
                <select asp-for="@Model.EngineTypeId" class="form-control">
                    @foreach (var engine in Model.EngineType)
                    {
                        <option value="@engine.Id">@engine.Fuel</option>
                    }
                </select>
                <span asp-validation-for="EngineTypeId" class="text-danger"></span>
            </div>


            <p> </p>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Search</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}