
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>

<div>
    <a class="" text-dark" asp-area="Administrator" asp-controller="Engine" asp-action="AllEngines">Engine</a>
    <a class="" text-dark" asp-area="Administrator" asp-controller="BodyType" asp-action="AllBodyTypes">Body Types</a>
    <a class="" text-dark" asp-area="Administrator" asp-controller="Country" asp-action="AllCountries">Countries</a>
    <a class="" text-dark" asp-area="Administrator" asp-controller="Manifacturer" asp-action="AllBrands">Brands</a>
</div>
</nav>
</header>


    

